/*************** Base Elements *************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;  
  background-color: white;
  position: relative;
}

p {
  font-size: 17px;
}

h1, h2, h3 {
  color:#00305b;
  margin-bottom: 20px;
}

a {
  color: white;
}

a:hover {
  color: #ccc7c7;
}

textarea { 
  resize: none;	
}

img {
  margin-bottom: 20px;	  
}

input[type=submit]{
  margin-top: 20px;
}

/*************** Base Layouts ***************/

.container {
  width: 95%;
  margin: 0 auto;
}

.inner-blue-container {
  padding: 5%;
  background-color: #eaf4f6;
}

.padding-top-bottom-10 {
	padding : 10px 0;
}

/*************** Header *********************/

.header {
  background-color: #1e4062;
  color: white;  
}

.logo {
  font-size: 25px;	
  font-weight: bold;  
  padding-top: 10px;
}

nav {
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #ccc7c7;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover  {  
  background-color: rgba(255, 165, 0, 0.9);
  color: white;
 }
 
 
/*************** Pages  *****************/
.anchor{
   display:block;
   height:75px;
   margin-top:-75px;
}

#portfolio, #about, #contact{ 
  padding : 15px;		
  border-radius: 2%;
}

#portfolio {
  background-color: #1e4062;  
}

#portfolio h2 {  
  color: white;
}

#about, #contact {
  background-color: white; 
}

form {
  padding-top: 50px;	
}

/************** Footer **********************/

footer {
  background: #1e4062;
  color: white;	
  padding-top: 15px;	
}

.icons {
  font-size: 25px;
  font-weight: bold; 
  padding: 0 10px 10px;
}

.icons:last-child{
  padding-right: 0;
}